/* 
h2{
    margin-block-end: 1em;
} */

a{
    text-decoration: none;
}
a:link{color:ivory;}
a:visited{color: ivory;}

body{
    /* font-family: Arial, sans-serif;
     */
    font-family: Consolas, sans-serif;;
    background-color:rgb(28, 33, 39);
    color: rgb(224, 231, 238);
}

.input{
    text-align: center;
}

.logo{
    font-style:inherit;
    text-align: center;
    width: 40%;
    font-size: 70px;
    padding-left: 30%;
    padding-right: 30%;
    opacity: 100%;
    color:ivory;
    display: inline-block;
    margin-block-end: 0em;
}

.small-logo{
    font-style:inherit;
    text-align: left;
    width: 40%;
    font-size: 1em;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 100%;
    color:ivory;
    float: left;
    /* display: block; */
    margin-block-end: 0em;
}

.user_profile{
    font-style:inherit;
    text-align: right;
    width: 40%;
    font-size: 1em;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 100%;
    color:ivory;
    float: left;
    /* display:block; */
    margin-block-end: 0em;
}

.center{
    text-align: center;
}

.fail {
    /* opacity: 0%; */
    color: deeppink;
}