<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/static/css/style.css">
    {{/* <title>{{.Title}}</title> */}}
</head>
<body>
    <!-- <div style="text-align: end;">
    </div> -->
    {{/* <h1> {{.Title}} </h1> */}}
    <button type="button" class="buttonEdit" onclick="location.href='/edit/{{.BoardId}}'">수정</button>
    <button type="button" class="buttonDelete" onclick="location.href='/delete/{{.BoardId}}'">삭제</button>
    <h3> 이메일: {{.Email}} </h3>
    <h3> 지역: {{.Area}} </h3>
    <h3> 바이크정보 </h3>
    <p> {{.Bike_info}} </p>
    <br><br>
</body>
</html>